<div class="container-fluid">
  <div class="row">
    <div class="title col-xs-11">
      <h1><%= @pin.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="image col-xs-9">
      <%= image_tag @pin.photo.url(:pin), class: "img-responsive" %>
    </div>
  </div>
  <div class="row">
    <div class="content col-xs-11">
      <p><%= @pin.content %></p>
    </div>
  </div>
  <div class="row">
    <div class="link col-xs-11">
      <p><%= auto_link(truncate(@pin.link, length:30)) %></p>
    </div>
  </div>
  <div class="row">
    <div class="link col-xs-11">
      <p>Pine pinned <%= distance_of_time_in_words_to_now(@pin.created_at) %> ago by <%=@pin.user.username %></p>
    </div>
  </div>
  <% if @current_user == @pin.user %>
    <div class="row">
      <div class="edit-delete col-xs-11">
        <%= link_to "Edit", :edit, remote: true, class: "btn btn-primary" %>
        <%= link_to "Delete", :delete, method: :delete, remote: true, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
