
    <div class="row">
      <div class="page-header col-xs-8 col-xs-offset-2">
        <h1>Sign Up!</h1>
      </div>
    </div>
    <div class="row">
      <%= simple_form_for @user, remote: true do |f| %>
        <div class= "col-xs-8 col-xs-offset-2">
          <%= f.input :username, label:false, placeholder: "Username"%>
          <%= f.input :email, label:false, placeholder: "Email"%>
          <%= f.input :password, label:false, placeholder:"Password" %>
          <%= f.input :password_confirmation, label:false, placeholder:"Confirm Password" %>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
